/* General Styles */
body {
    margin: 0;
    box-sizing: border-box;
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-heading > h1 {
    margin-top: 35px;
    font-weight: 600;
    color: #fff;
    font-size: 54px;
    line-height: 120%;
  }
  
  .login-heading > h4 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  
  .cover {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 42rem;
    height: 36rem;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  
  .cover input {
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    text-align: left;
  }
  
  .check-box {
    display: flex;
    flex-direction: row;
    color: #cbc6c6;
    width: 100%;
  }
  
  .checkbox_main {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: -35px !important;
  }
  
  .texting {
    margin-left: 10px;
  }
  
  .signup-btn {
    width: 100%;
    height: 3em;
    background-color: #147cc8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    transform: scale(0.9);
  }
  
  .signup-Account-btn {
    width: 100%;
    height: 3em;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 0.5em;
    text-align: center;
    padding: 1.5em;
  }
  
  label {
    color: white;
  }
  
  span {
    color: red;
  }
  
  /* Mobile Styles */
  @media (max-width: 576px) {
    .login-heading > h1 {
      font-size: 36px;
    }
  
    .login-heading > h4 {
      font-size: 20px;
    }
  
    .cover {
      width: 90%;
      height: auto;
    }
  
    .center {
      width: 90%;
    }
  
    .signup-Account-btn {
      padding: 1em;
    }
  }
  